/* src/app/globals.css */
html {
  font-size: 13px; /* or 13px for ultra-compact */
}

body {
  margin: 0 ;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.860rem; /* 14px */
  line-height: 1.2;
}